{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>timestamp actuel : {{ date }}</p>
    <hr>
    <div class="select">
        <p>Selectionne une date</p>

        <form action="{{ getUrl }}" method="POST">
            <select name="selectDate">
                <option value="oneHour">1 heure</option>
                <option value="oneDay">1 jour</option>
                <option value="oneWeek">1 semaine</option>
                <option value="oneMonth" selected="selected">1 mois</option>
                <option value="threeMonth">3 mois</option>
                <option value="sixMonth">6 mois</option>
                <option value="oneYear">1 an</option>
            </select>
            <input type="submit" value="GOOOOO">
        </form>
    </div>
    <hr>

    {# {% set myVal = 1 %}
        {% for allCrypto in PlayerOne %}

            <p>{% set myVal = myVal + 1 %}</p>
            <p> Jours : {{ myVal }} // valeur : {{ allCrypto[2] }}</p>
        {% endfor %}
        <hr>   
    {% set myVal = 1 %}
        {% for allCrypto in PlayerTwo %}

            <p>{% set myVal = myVal + 1 %}</p>
            <p> Jours : {{ myVal }} // valeur : {{ allCrypto[4] }}</p>
        {% endfor %} #}
    </div>
{% endblock %}

